## YouTube Dataset - Exploratory Data Analysis

In [18]:
import pandas as pd
df = pd.read_csv("YouTube_trending_videos.csv")

In [2]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71868 entries, 0 to 71867
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           71868 non-null  object
 1   title              71868 non-null  object
 2   publishedAt        71868 non-null  object
 3   channelId          26794 non-null  object
 4   channelTitle       71868 non-null  object
 5   categoryId         71868 non-null  int64
 6   trending_date      71868 non-null  object
 7   view_count         71868 non-null  int64
 8   likes              71868 non-null  int64
 9   dislikes           71868 non-null  int64
 10  comment_count      71868 non-null  int64
 11  comments_disabled  71868 non-null  bool
 12  ratings_disabled   71868 non-null  bool
 13  description        69733 non-null  object
 14  Category_name      71850 non-null  object
 15  Country            71868 non-null  object
dtypes: bool(2), int64(5), object(9)
memory usage: 7.8+ MB

### Data cleaning

The dataset have null values in the columns "channelId", "description" , and "category_name". The channel id has missing values because 2018 datasets (`ba775-team-6a.youtube.JP_youtube_trending_data_past`, `ba775-team-6a.youtube.US_youtube_trending_data_past`) didn't have that information. However, we decided to include this column because we need this unique channel id to retrieve information from the YouTube API.

In [24]:
df['description'] = df['description'].fillna(" ") ##Data imputation for description
df['channelId'] = df['channelId'].fillna(" ") ##Data imputation for channel id

We added new columns to our dataset

In [19]:
df['publish_year'] = pd.DatetimeIndex(youtube['publishedAt']).year
df['publish_time'] = pd.to_datetime(youtube['publishedAt']).dt.time
df['publish_datetime'] = pd.to_datetime(youtube['publishedAt'])
df['trending_datetime'] = pd.to_datetime(youtube['trending_date'])
df['days_to_go_trending'] = youtube['trending_datetime'] - youtube['publish_datetime']

### Getting to know our dataset

In [20]:
df.pivot_table(values='view_count', index='publish_year', columns='Country', aggfunc='mean')

Country              Japan  United States
publish_year
2018          2.537513e+05   2.740231e+06
2020          1.421849e+06   2.688567e+06

In [32]:
max_view_count = df['view_count'].max() 
min_view_count = df['view_count'].min()